* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  text-align: center;
  background-color: #efefef;
}
div.container {
  width: 400px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
  box-sizing: border-box;
  padding: 2.5rem;
  min-height: 100vh;
  display: inline-block;
  text-align: left;
}
@media (max-width: 400px) {
	div.container {
		width: 100%;
		padding: 1.5rem;
	}
}
div.logo h1 {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
}
div.logo p {
  text-align: center;
  font-size: 1rem;
}
div.logo {
  display: block;
  overflow: auto;
  margin-bottom: 2.5rem;
}
div.encode h1, div.decode h1 {
  font-size: 1.75rem;
  line-height: 1;
}
div.encode, div.decode {
  width: 100%;
  display: block;
  overflow: auto;
  margin-bottom: 2.5rem;
}
div.encode *, div.decode * {
  margin-bottom: 0.75rem;
}
div.file-upload {
  display: block;
  overflow: auto;
  margin: 0;
}
.file-upload__label, div.encode button {
  cursor: pointer;
}
div.encode button, div.encode textarea, .file-upload__label {
  font-size: 1.125rem;
  border: none;
  background-color: transparent;
  border: 2px solid #ccc;
  outline: none;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  display: block;
}
div.encode textarea {
  width: 100%;
  resize: none;
  height: calc(2.5rem + 4px);
  font-size: 1.125rem;
  line-height: 1.5rem;
  transition: height 0.5s;
}
div.encode textarea:focus {
  height: calc(16rem + 4px);
}
div.encode textarea:focus, .file-upload__label:hover, .file-upload__label:active, div.encode button:hover, div.encode button:active {
  border-color: #000;
}
.file-upload__label:hover, .file-upload__label:active, div.encode button:hover, div.encode button:active {
  background-color: #000;
  color: #fff;
}

.file-upload {
  position: relative;
}
.file-upload__label {
  display: block;
  width: auto;
  float: left;
}
.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
